
body{
    margin:0;
    background-color:#062249;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:0px 0px, 12px 0px, -1px -1px, 11px -1px;
}

html{
    font-size: 20px;
}

header{
    background-color:#062249; 
    border-bottom: solid;
    border-bottom-color: white;
}

.midblocks{
    background-color: #264d8f;
    border: solid;
    border-color: white;

    /*Не 100% ширина, чтобы были видны границы блока*/
}

.midcont{
    max-width: 960px;
}

.logoblock{
    display: flex;
    margin: 10px;
    order: 1;
    flex-direction: row;
    flex-shrink: 1;
    border-radius:50%;
}

.navmobile{
    order: 2;
    align-items: center;
}

.navdesk{
    display: none;
}

.logotext{
    display: flex;
    flex-direction: row;
    flex:1;
    order: 2;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 55px;
    color:#8fafcc;
    text-decoration: none;
}

.navrefer{
    text-decoration: none;
    font-size: 46px;
    color:#aed7fd;
}

.referblock {
    order:4;
}

.tableblock {
    order:3;
}

.midheader{
    color: #aed7fd;
}

p{
    color: #e0effd;
}

ol{
    color:#aed7fd;
}

ul{
    list-style-type: none;
    color:#aed7fd;
}

a{
    transition-duration: 100ms;
    color:#aed7fd;
}

a:hover{
    color:#dbecfc;
}


table{
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 90%;
    border: solid;
    border-color: #77b5e7;
    border-spacing: 0px;
}

tr{
    background-color: #021f47;
}

th{
    color: #aed7fd;
    border: solid;
    border-width: 1px;
    border-color: #77b5e7;
}

.nctr{
    background-color: #1d3a63;
}

label{
    width: 100px;
    color: #aed7fd;
}

form {
    display: flex;
    align-items: center;
    order: 5;
    border: solid;
    background-color: #264d8f;
    border-color: white;
}
  
form > * {
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 200px;
}

.radio{
    color: #aed7fd;
}

footer{
    background-color:#062249; 
    border-top: solid;
    border-top-color: white;
}
